<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Colors</p>
    <p>My favorite color is aqua blue because it reminds me of the ocean and scubadiving. I really like to be around water.</p>
    <p>Here is a picture I took on a hike a few weeks ago. The water in the pond is aqua blue and ocean blue.</p>
    <p>Even though I can't be near the ocean right now,  hikes like these remind me of the ocean and let me make the best of social distancing.</p>
    <img src="/static/gtm2130hike.jpg" alt="Water"> 
    </body>
</html>

