<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Home Page</p>
    <p>Gabriel Trinity McCormick</p>
    <img src="/static/gtm2130finalpic.jpg" alt="Gabby"> 
    <p>My current grade: 87%</p>
    <p>My intended major: Earth and Environmental Engineering</p>
    
    
    <p>Link to my favorite colors page: <a href="/colors">Here</a></p>
    <p>Link to my favorite animals page: <a href="/animals">Here</a></p>
    <p>Link to my favorite website: <a href="https://www.youtube.com/watch?v=zUnIvC-aXe8">Here</a></p>
    
    </body>
</html>

