<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Animals</p>
    <p>My favorite animal is an octopus. They are intellectually underrated and suprisingly smart.</p>
    <p>With eight arms, the octopus represents multi-tasking and excelling in many different areas. They are well rounded like their big, goofy heads.</p>
    <p>The octopus is one of the most adaptable creatures. They can survive on land for short periods of time and camoflage their skin beautifully. </p>
    <img src="/static/gtm2130octopus.jpg" width="700" alt="Octopus"> 
    </body>
</html>

